/* HEADER */
.black-bg {
  background-color: rgb(44 62 80);
}

/* MAIN */
/* HERO */
.hero-bg {
  background-color: rgb(26 188 156);
}

.svg-resize {
  max-width: 100%;
}

/* CONTACT ME SECTION */
.ms-container-small{
  width: 60%;
  margin: 0 auto;
}

.btn-color {
  background-color: rgb(26 188 156);
}

/* FOOTER */

.footer-top {
  background-color: rgb(58 84 109);
}

.footer-bot {
  background-color: rgb(44 62 80);
}

.color-text {
  color: rgb(26 188 156);
}

.transparent-circle {
  border:2px solid white;
  border-radius:50%;
  color:white;
  padding: .6rem;
  margin: .5rem;
}